<div class="container">
  <h1>Search results:</h1>
  <% if @groups.present? %>
      <% @groups.each do |g| %>
          <h3><%= link_to g.name, g %></h3>
          <p><%= g.motto %></p>
      <% end %>
  <% else %>
      <p>We couldn't find any group based on your query but try out some of our other groups below!</p>
      <% Group.last(10).each do |g| %>
          <h3><%= link_to g.name, g %></h3>
          <p><%= g.motto %></p>
      <% end %>
  <% end %>
</div>